.primary-button {
  background: $primary-color;
  color: white;
  font-size: $font-size-default;
  padding: 5px 14px;
  font-weight: $font-weight-bold;
  border-radius: 4px;
  outline: none;
  border-color: #05b4e9;
  cursor: pointer;
}