.primary-button {
  background: $primary-color;
  color: white;
  font-size: 1.4rem;
  padding: 5px 14px;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  border-color: $primary-color;
  cursor: pointer;
}

.default-button {
  background: $color-lighter-grey;
  color: $color-dark-grey;
  font-size: 1.4rem;
  padding: 6px 10px 4px;
  border: 1px solid $color-medium-grey;
  border-radius: 3px;
  box-shadow: none;
  text-transform: uppercase;

  &:active {
    box-shadow: 0 1px 3px 0 $color-grey;
  }
}
