$tertiary-color: #5a5d5e;

.footer {
  justify-content: center;
  align-content: center;
  background-color: $tertiary-color;
  padding: 10px 5px 5px;
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}