.plugin-suggestions {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-between;
  background-color: darken($md-tertiary-color, 5%);

  .hide-on-mobile {
    @media (max-width: 360px - 1px) {
      display: none;
    }
  }

  .plugin-suggestion {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: $md-secondary-color !important;

    .headline-container {
      margin-right: 10px;
      margin-left: 10px;

      h6 {
        font-weight: bold;
      }

      h2 {
        margin-bottom: 0;
      }
    }
  }

  .secondary-color {
    color: $md-secondary-color !important;
  }
}

@media (max-width: 640px) {
  .plugin-suggestion {
    .headline-container {
      h6 {
        font-size: 16px!important;
      }
    }
  }
}
