
#cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $color-grey;
  border-radius: 3px;
  background: $color-white;
  padding: 0;

  .card-content {
    display: flex;
    width: 100%;
    padding: 20px 20px 0;

    .featured-image {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 50%;
    }

    .card-body {
      flex: 1;
      padding: 0 20px;
      width: calc(100% - 215px);

      h6 {
        color: $color-lighter-black;
        margin: 0;
        line-height: 1;
        font-style: italic;
      }

      h3 {
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 8px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p {
        color: $secondary-color;
        font-size: 1.4rem;
        height: 4rem;
        line-height: 2rem;
        overflow: hidden;
        margin-bottom: 0;
      }
    }

    .card-action {
      display: flex;
      flex-direction: column;
      text-align: right;

      a {
        display: flex;
        flex-direction: column;
      }

      .plugin-install {
        font-weight: bold;
        text-transform: uppercase;
      }

      span {
        display: inline-block;
        color: $primary-color;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 6px 3px 0 0;
        cursor: pointer;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-light-grey;
    padding: 7px 20px 5px;
    border: 1px solid $color-grey;
    border-width: 1px 0 0;

    .plugin-poster {
      display: flex;
      align-items: center;

      span {
        font-size: 1.3rem;
        font-style: italic;
        margin-left: 1rem;

        span {
          color: $primary-color;
          margin-left: 0;
        }
      }
    }

    .post-desc {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;

      b {
        color: $tertiary-color;
        margin-right: 5px;
      }

      div {
        text-align: center;
      }
    }
  }
}
