$gradient-bg1: #fbfbfb;
$gradient-bg2: #f5f5f5;
$gradient-bg3: #ededee;

#cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $color-grey;
  border-radius: 3px;
  background: $color-white;
  padding: 0;

  .card-content {
    display: flex;
    width: 100%;
    padding: 20px 20px 0;

    .featured-image {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 50%;
    }

    .card-body {
      flex: 1;
      padding: 0 20px;
      width: calc(100% - 215px);

      h6 {
        color: $primary-color;
        margin: 0;
        line-height: 1;
        font-style: italic;
      }

      h3 {
        color: $color-lighter-black;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 8px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      p {
        color: $secondary-color;
        font-size: 1.4rem;
        height: 4rem;
        line-height: 2rem;
        overflow: hidden;
        margin-bottom: 0;
      }
    }

    .card-action {
      display: flex;
      flex-direction: column;
      text-align: right;

      a {
        display: flex;
        flex-direction: column;
      }

      .plugin-install {
        font-weight: bold;
        text-transform: uppercase;
      }

      span {
        display: inline-block;
        color: $primary-color;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 6px 3px 0 0;
        cursor: pointer;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-light-grey;
    padding: 7px 20px 5px;
    border: 1px solid $color-grey;
    border-width: 1px 0 0;

    .plugin-poster {
      display: flex;
      align-items: center;

      span {
        color: $primary-color;
        font-size: 1.3rem;
        font-style: italic;
        margin-left: 1rem;
      }
    }

    .post-rating {
      display: flex;
      flex-direction: row;
      font-size: 1.3rem;

      .download {
        display: flex;
        align-items: center;
        color: $color-dark-grey;
      }

      .stars {
        display: flex;
        flex-direction: row;
        color: $color-light-black;
        font-weight: bold;
        margin-left: 10px;
        cursor: pointer;

        > div {
          border: 1px solid darken($color-medium-grey, 5%);
        }

        .star-icon {
          display: flex;
          align-items: center;
          border-radius: 3px 0 0 3px;
          background: linear-gradient(to bottom, $gradient-bg1, $gradient-bg2, $gradient-bg3);

          i {
            padding: 3px 5px;
            margin: 0;
            font-size: $font-size-default;
            color: $color-light-black;
          }
        }

        .stared-num {
          border-radius: 0 3px 3px 0;
          border-left: 0;
          font-size: 1.3rem;
          padding: 3px 7px;
          padding-top: 4px;
          background: white;
        }
      }

      i {
        font-size: $font-size-large;
        color: $color-dark-grey;
        margin-right: 3px;
      }
    }
  }
}
