* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
