* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

div .mobile-fix {
  @media (max-width: 360px - 1px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-container,
.darker-background {
  background-color: #f0f1f2;
}

.index-container {
  max-width: 1200px;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

.avatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.main-container, .tag-container, .category-container {
  min-height: calc(100vh - 111px)!important;

  .plugin-container {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .md-grid {
    width: calc(100% - 16px)!important;
  }
}

@media (max-width: 839px) and (min-width: 600px) {
  .plugin-container {
    justify-content: center;
  }

  .searchbar {
    width: 80%;
  }
}

.hidden {
  display: none;
}
