@import '~react-md/src/scss/react-md';

$md-primary-color: $md-grey-400;
$md-secondary-color: $md-red-800;
$md-tertiary-color: $md-grey-300;

$primary-color: #05B4E9;
$secondary-color: #201C1D;
$tertiary-color: #5a5d5e;

$color-grey: #cfcfcf;
$color-light-grey: #f8f8f8;

$color-medium-grey: #e0e0e0;
$color-dark-grey: #888;
$color-darker-grey: #666;

$color-black: #000;
$color-light-black: #3e445b;
$color-lighter-black: #444;

$color-dark-blue: #418ca2;

$color-light-brown: #4d4657;

$color-white: #fff;
$color-light-white: #e0e1e2;

// Font Size & Weight

$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-default: 1.4rem;
$font-size-small: 1.2rem;
$font-size-tiny: 1rem;

$font-weight-bold: $md-font-bold;
$font-weight-semibold: $md-font-semibold;
$font-weight-medium: $md-font-medium;
$font-weight-regular: $md-font-regular;
$font-weight-light: $md-font-light;

$phone-status-bar-height: 24px - 12px;
