.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;
        min-height: calc(100vh - 107px);

        .main-content {
            flex: 1;
        }
    }
}
