.plugin-preview-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0 !important;
}

#cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cardHeader {
    height: 80px;
    padding: 0 8px;
    background: rgba(0, 0, 0, 0.54);

    h2 {
      color: white;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > div.md-card-title {
    > div.md-avatar--card {
      border: none;
    }

    h2.md-card-title--title {
      align-self: flex-start;
    }
  }  
}

#cardBody {
  width: 100%;
  height: 3em;
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  padding: 0 16px;
}
